.contenedor {
    align-items: center;
    display: flex ;
    vertical-align: top;
    height: 100%;
    width: 100%;
}
.contanciasKinder{
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: rgb(226, 226, 226);
    margin: 50px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(100, 100, 100);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse ;
    margin: 30px;
    width: 95%;
    align-items: center;
    text-align: center;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 10px;
    margin: 30px;
  }
  .btn-contancia {
    margin-top: 1px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
  }

  /*
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  */