.contenedor {
    align-items: center;
    display: contents ;
    vertical-align: top;
    height: 100%;
    width: 100%;
}
.contanciasKinder{
    width: 100%;
    background-color: rgb(226, 226, 226);
    margin: 50px;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgb(100, 100, 100);
}
table {
    width: 100%;
    border: 1px solid #000;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
 }
 caption {
    padding: 0.3em;
 }