
.Container {
    padding-top: 0px;
}
.FormAddStudent {
    font-size: 25px;
}
.InputText {
    height: 40px;
}
.InputTextGrade {
    height: 40px;
}
.AddBtn {
    max-width: 300px;
    width: 300px;
}